.evolver-header{
    background: rgb(255,255,255);
    background: linear-gradient(60deg, rgba(255,255,255,1) 0%, rgba(65,77,158,1) 36%, rgba(184,96,162,1) 100%);
}
.header-btn{
    background-color: #B25FA2;
    border: 1px solid #52509F;
    color:#FFF;
}