<div class="row" style="margin-bottom: 20px;">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="customTable" style="border: 1px solid #ddd;">
            <!--<h4>Network Map for <span style="text-transform: uppercase;"> {{mapTypes}} </span></h4>-->
            <h4>Network Map </h4>
            <div class="loading-custom-desc" *ngIf="loading"><span class="fa fa-spinner fa-spin"></span> &nbsp;Loading...</div>
            <!--<div class="table-responsive" *ngIf="nodesCheck">-->
            <div class="table-responsive">

                <!--<div class="form-check" style="margin-left: 12px;">
                    <input type="radio" class="form-check-input" name="edgeSelect" id="edgeUnchecked" value="1"
                        (change)="clickedEdges($event)" checked>
                    <label class="form-check-label" for="edgeUnchecked">Edge Type Selected</label>
                </div>
                <div class="form-check" style="margin-left: 12px;">
                    <input type="radio" class="form-check-input" name="edgeSelect" id="edgeChecked" value="0" (change)="clickedEdges($event)">
                    <label class="form-check-label" for="edgeChecked">Show All Targets</label>
                </div>-->

                <div style="height: 90%; width: 100%; float: left; overflow: auto; overflow-y: hidden">
                    <!-- <ng2-cytoscape [elements]="graphData" [layout]="layout" (select)="nodeChange($event)"></ng2-cytoscape> -->
                    <ng2-cytoscape [elements]="graphData" [layout]="layout" (onGraphSelection)='graphSelected()'></ng2-cytoscape>
                </div>

                <div class="modal overlay right fade" id="myModalNode" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h5 class="modal-title">Node Details</h5>
                            </div>
                            <div class="modal-body">
                                <div id="nodeDetails"></div>
                                <!--<div [innerHTML]="nodeDetails"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal Node -->

                <div class="modal overlay right fade" id="myModalEdge" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h5 class="modal-title">Edge Details</h5>
                            </div>
                            <div class="modal-body">
                                <div id="pubmedURLsDownload"></div>
                                <div id="pubmedURLs"></div>
                            </div>
                        </div>
                    </div>
                </div>


                

                <!--<div class="footer" style="width: 10px; margin-left: 10px;" *ngFor="let legendsNodeType of legendsNodeTypes">
                    <div class="dot" [style.background]="legendsNodeType.color_code"><span>{{legendsNodeType.node_name}}</span></div>
                </div>-->

            </div>
        </div>
    </div>
</div>
