<div class="sidebar-card">
  <div class="heading">
    <h4>Edge Type
      <!-- <div style="padding: 2px;margin-bottom:-62%; width:175px;">
        <button class="btn btn-md mr-1 p-3" style="background-color: #0A66C2;color: #FFF;" (click)="resetAllFilters()">Reset</button>&nbsp;
        <button class="btn btn-md mr-1 p-3" style="background-color: #BF63A2; color:#fff;" [disabled]="disableProceed" (click)="seeMoreproceed()">Submit</button>
      </div> -->
    </h4>
  </div>
  
  <div class="dropdown">
    <div class="dropdown-toggle" id="edge-type-filter" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
      <div class="body">
        <div class="search-input">
          <input class="form-control" type="text" value="{{selectedEdgeTypesNames.join(', ')}}" placeholder="Search" aria-label="Search" [(ngModel)]="edgeTypeFilter" />
          <img *ngIf="loading" src="../../assets/images/loader_small.gif" width="20px"/>
          <!--<span *ngIf="selectedEdgeTypes.length > 0" class="reset-search"
            (click)="resetEdgeType();">Reset</span>-->
        </div>
      </div>
    </div>
    <ul class="dropdown-menu" aria-labelledby="edge-type-filter">
      <!-- *ngIf="showSourceBody" -->
      <div class="body">
        <div *ngIf="edgeTypes.length" >
          <div class="search-options">
            <div class="mb-1 form-check" *ngFor="let edgeType of edgeTypes | EdgeTypeFilterPipe:edgeTypeFilter">
              <input class="form-check-input border border-secondary" type="checkbox" name="edgeTypes" [value]="edgeType"
                [checked]="selectedEdgeTypes.indexOf(edgeType.edge_type_id)>-1 " (change)="selectEdgeType(edgeType,$event)">
              <label class="form-check-label">
                {{edgeType.edge_type_name}}
              </label>
            </div>
          </div>
        </div>
      </div>
      
    </ul>
  </div>
</div>

<ng-template #edgeSelectsWarningModal let-c="close" let-d="dismiss">
  <div class="modal-header    modal-lg" style="background: #ff0c66 !important;">
    <h4 class="modal-title">Warning</h4>
    &nbsp;
    <button class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body white_bg without_bord_rad">
    <h6 style="color:#ff0c66">You unchecked the "Select All" option. If you will Proceed with this then result-set
      of
      with all gene(s).
      Otherwise you may choose indications and proceed.</h6>
    <div class="pull-right">
      <button class="btn btn-hero-info btn-demo" (click)="closePopup()">Okay</button>
    </div>
  </div>
</ng-template>