<div class="card-panel-box">
    <div class="card-panel-box-heading">
        Event List
    </div>
    <!--<i (click)="reloadDescription()" class="fa fa-expand text-white"
        style="position: absolute; top: 10px; right: 30px; font-size: 21px;"></i>-->

    <!-- <i (click)="help(helpDesc)" class="fa fa-info-circle text-white"
        style="position: absolute; top: 10px; right: 72px; font-size: 22px;"></i> -->

    <!--<div class="card-panel-box-detail" [hidden]="hideCardBody">-->
    <div class="card-panel-box-detail">
        <div class="customTable " id="eventListTable">
            <div class="loading-custom-desc" *ngIf="loadingDesc"><span class="fa fa-spinner fa-spin"></span>&nbsp;Loading...
            </div>
            <div class="table-responsive custom-fixed-header-table" style="max-height:600px">
                <table id="showEventDescription" class="table" data-toolbar="#toolbar" data-search="true"
                    data-show-export="true" data-show-columns="true" data-page-size="50"
                    data-page-list="[10, 25, 50, 100, All]">
                    <thead>
                        <tr class="d-flex">
                            <!-- <th data-field="news_id" data-sortable="true" width="10%">News ID</th> -->
                            <th data-field="sourcenode_name" data-sortable="true" width="10%">Source Name</th>
                            <th data-field="destinationnode_name" data-sortable="true" width="10%">Destination Name</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
</div>

<!-- help section goes here -->
<!-- <ng-template #helpDesc let-c="close" let-d="dismiss">
    <div class="modal-header blue_bg_hdr  modal-lg">
        <h4 class="modal-title">INFO </h4>
        <button class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body white_bg without_bord_rad">
        <div class="row">
            <div class="col-md-12 bottam-buffer home_tiles">
                <div class="two-column_popup demo-checkboxes-radio">
                    <span class="custom-control-description text-dark" [innerHtml]="helpContents"></span>
                </div>
            </div>
        </div>
    </div>
</ng-template> -->