<div class="search-options" infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">

    <div class="card-panel-box">

        <div class="customTable" style="border: 1px solid #ddd; min-height:400px;">
            <div class="text-muted fs-2 text-center mb-4" *ngIf="masterListsData?.length ==0">Please select entities to
                generate Details</div>
            <!--<div class="card-panel-box-heading">
            Event List
        </div>-->
            <!--<i (click)="reloadDescription()" class="fa fa-expand text-white"
            style="position: absolute; top: 10px; right: 30px; font-size: 21px;"></i>-->

            <!-- <i (click)="help(helpDesc)" class="fa fa-info-circle text-white"
            style="position: absolute; top: 10px; right: 72px; font-size: 22px;"></i> -->

            <!--<div class="card-panel-box-detail" [hidden]="hideCardBody">-->
            <div class="card-panel-box-detail">
                <div class="customTable " id="eventListTable">
                    <!-- <div class="text-muted fs-2 text-center mb-4">Please select entities to generate Details</div> -->
                    <div class="overlay" *ngIf="loadingDesc">
                        <img style="margin:185px 653px;" src="../../assets/images/loader_big.gif" />
                    </div>
                    <div class="table-responsive custom-fixed-header-table"
                        [ngClass]="toggleLevels == false ? 'hiddenLevels' : currentLevel == '1' ? 'level1' : currentLevel == 2 ? 'level2' : 'level3'">
                        <table id="showEventDescription" data-toolbar="#toolbar" data-search="true"
                            data-show-export="true" data-show-columns="true" data-page-size="50"
                            data-filter-control="true" data-page-list="[10, 25, 50, 100, All]">
                            <!--<table id="showEventDescription" data-toolbar="#toolbar" data-search="true" data-page-size="50" data-page-list="[10, 25, 50, 100, All]">-->
                            <thead>
                                <tr>
                                    <!-- <th data-field="news_id" data-sortable="true" width="10%">News ID</th> -->
                                    <th data-field="sourcenode_name" data-sortable="true" width="10%"
                                        data-filter-control="select">Source</th>
                                    <th data-field="destinationnode_name" data-sortable="true" width="10%"
                                        data-filter-control="input">Destination</th>
                                    <th data-field="level" data-sortable="true" width="10%"
                                        data-filter-control="select">
                                        Level</th>
                                    <!-- <th data-field="edgeTypes" data-sortable="true" width="10%"
                                        data-filter-control="input">
                                        Edge Type</th> -->
                                    <!-- <th data-field="pmidCount" data-sortable="true" width="10%"
                                        data-filter-control="input">
                                        PMID Count</th> -->
                                    <th data-field="edgeNe" data-sortable="true" width="10%">
                                        Articles Count</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- Total Records:{{masterListsData.length}} *ngIf="masterListsData.length>1999"-->
                <!-- <select class="form-select" style="width: 150px;" name="load_dataset"
                    (change)="loadNextDataSet($event)">
                    <option value="0" selected>1-8000</option>
                    <option value="8001">8001-16000</option>
                    <option value="16001">16001-24000</option>
                    <option value="24001">24001-32000</option>
                </select> -->
            </div>

            <div *ngIf="!notEmptyPost" class="row">
                <div class="alert alert-warning">
                    No More Records..
                </div>
            </div>
        </div>

    </div>
    <div class="text-center" *ngIf="isloading"><img src="./assets/images/spinner_small_loader.gif"></div>

</div>

<!-- help section goes here -->
<ng-template #edgeTypeDescModal let-c="close" let-d="dismiss">
    <div class="modal-header blue_bg_hdr  modal-lg">
        <h4 class="modal-title">Edge Type Name(s) </h4>
        <button class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body white_bg without_bord_rad">
        <div class="row">
            <div class="col-md-12 bottam-buffer home_tiles">

                <div class="m-1">
                    <div class="alert alert-primary alert-dismissible fade show">
                        <img class="text-center" src="../../assets/images/loader_big.gif" *ngIf="loaderEdgeType" />
                        <div *ngFor="let edge of edgeHere">
                            <p>{{edge.edge_type_name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #articleModal let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header blue_bg_hdr  modal-lg">
            <h4 class="modal-title">Article(s) </h4>
            <button class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body white_bg without_bord_rad">
            <div class="row">
                <div class="col-md-12 bottam-buffer home_tiles">

                    <div class="m-1">
                        <div class="alert alert-primary alert-dismissible fade show">

                            <!-- <div *ngFor="let article of articleHere">
                            <p>PMID: {{article.pmid}}</p>
                            <p>Publication Date: {{article.publication_date}}</p>
                            <p>Title: {{article.title}}</p>
                            <hr>
                        </div> -->
                            <table id="articles_details" data-toolbar="#toolbar" data-search="true"
                                data-show-export="true" data-show-columns="true" data-page-size="50"
                                data-filter-control="true" data-page-list="[10, 25, 50, 100, All]">
                                <thead>
                                    <tr>
                                        <th data-field="source" data-sortable="true" width="10%"
                                            data-filter-control="input">
                                            Source
                                        </th>
                                        <th data-field="destination" data-sortable="true" width="10%"
                                            data-filter-control="input">
                                            Destination
                                        </th>
                                        <th data-field="pmid" data-sortable="true" width="10%"
                                            data-filter-control="input">
                                            PMID
                                        </th>
                                        <th data-field="publication_date" data-sortable="true" width="10%"
                                            data-filter-control="input">
                                            Publication Date
                                        </th>
                                        <th data-field="title" data-sortable="true" width="10%"
                                            data-filter-control="input">
                                            Title
                                        </th>
                                        <th data-field="edge_type" data-sortable="true" width="10%"
                                            data-filter-control="input">
                                            Edge Type
                                        </th>
                                        <th data-field="sentence_btn" data-sortable="true" width="10%"
                                            data-filter-control="input">
                                            Sentence
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                            <img class="text-center" src="../../assets/images/loader_big.gif" *ngIf="loaderArticle" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="evidence_data_container">
                <img class="text-center" src="../../assets/images/loader_big.gif" *ngIf="loaderEvidence" />
                <div id="evidence_data" style="display:none; width: 100%;height: auto;"></div>
            </div>
            
        </div>
    </div>



</ng-template>