<div class="card-panel-box-detail">
    <div class="customTable " id="eventListTable">
        <div class="overlay" *ngIf="loader">
            <img style="margin:185px 653px;" src="../../assets/images/loader_big.gif" />
        </div>

        <div class="card">
            <div class="card-header" (click)="reloadCTData()">
                Clinical Trials Data Associated with Disease
            </div>
            <div class="card-body">
                <div class="table-responsive-lg custom-fixed-header-table">
                    <table class="table table-bordered table-hover" id="CT_data" data-toolbar="#toolbar"
                        data-search="true" data-show-export="true" data-show-columns="true" data-page-size="50"
                        data-filter-control="true" data-page-list="[10, 25, 50, 100, All]" style="width:100%;">
                        <thead>
                            <tr>
                                <th data-field="nct_id" data-sortable="true" data-filter-control="input" data-visible="true" width="3%">
                                    NCT ID</th>
                                <th data-field="org_study_id" data-sortable="true" data-visible="true" data-filter-control="input"
                                    width="3%">
                                    Org Study ID</th>
                                <th data-field="secondary_study_id" data-sortable="true" data-show-columns="false" data-filter-control="input"
                                    width="3%">
                                    Secondary Study ID</th>
                                <th data-field="title" data-sortable="true" data-filter-control="input" width="12%">
                                    Title</th>
                                <th data-field="overall_status" data-sortable="true" data-filter-control="input"
                                    width="3%">
                                    Overall Status</th>
                                <th data-field="phase" data-sortable="true" data-visible="false" data-filter-control="input" width="4%">
                                    Phase</th>
                                <th data-field="Has_Expanded_Access" data-visible="false" data-sortable="true" data-filter-control="input"
                                    width="3%">
                                    Has Expanded Access</th>
                                <th data-field="min_age" data-sortable="true" data-visible="false" data-filter-control="input" width="3%">
                                    Min. Age</th>
                                <th data-field="max_age" data-sortable="true" data-visible="false" data-filter-control="input" width="3%">
                                    Max. Age</th>
                                <th data-field="healthy_volunteers" data-sortable="true" data-visible="false" data-filter-control="input"
                                    width="3%">
                                    Healthy Volunteers</th>
                                <!--<th data-field="title" data-sortable="true" data-filter-control="input">
                                    Varification Date</th>
                                <th data-field="title" data-sortable="true" data-filter-control="input">
                                    Study First Submitted</th>
                                <th data-field="title" data-sortable="true" data-filter-control="input">
                                    Study First Posted</th>
                                <th data-field="title" data-sortable="true" data-filter-control="input">
                                    Last Update Submitted</th>
                                <th data-field="title" data-sortable="true" data-filter-control="input">
                                    Last Update Submitted Qc</th>
                                <th data-field="title" data-sortable="true" data-filter-control="input">
                                    Study Type</th>
                                <th data-field="title" data-sortable="true" data-filter-control="input">
                                    Gender</th>
                                <th data-field="title" data-sortable="true" data-filter-control="input">
                                    Study First Submitted Qc</th>
                                <th data-field="title" data-sortable="true" data-filter-control="input">
                                    Trial Design</th>
                                <th data-field="title" data-sortable="true" data-filter-control="input">
                                    CtID</th>
                                <th data-field="title" data-sortable="true" data-filter-control="input">
                                    PhaseID</th>
                                <th data-field="title" data-sortable="true" data-filter-control="input">
                                    Trial Disease Rel → Disease ID</th>
                                <th data-field="title" data-sortable="true" data-filter-control="input">
                                    Trial Disease Rel → Nct ID</th>
                                <th data-field="title" data-sortable="true" data-filter-control="input">
                                    Trial Disease Rel → Node ID</th>
                                <th data-field="title" data-sortable="true" data-filter-control="input">
                                    Nodes → Node ID</th>
                                <th data-field="title" data-sortable="true" data-filter-control="input">
                                    Nodes → Name</th>
                                <th data-field="title" data-sortable="true" data-filter-control="input">
                                    Trial Intevention Rel → Nct ID</th>
                                <th data-field="title" data-sortable="true" data-filter-control="input">
                                    Trial Intevention Rel → Name</th>
                                <th data-field="title" data-sortable="true" data-filter-control="input">
                                    Trial Intevention Rel → Tit ID</th>
                                <th data-field="title" data-sortable="true" data-filter-control="input">
                                    Trial Intevention Rel → Node ID</th>
                                <th data-field="title" data-sortable="true" data-filter-control="input">
                                    Trial Intervention Type → Tit ID</th>
                                <th data-field="title" data-sortable="true" data-filter-control="input">
                                    Trial Intervention Type → Name</th> -->
                            </tr>
                        </thead>                        
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>