.page-wrapper {
    background-color: #F3F3F3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-image: url(../../assets/images/dashboard_background.jpg);
}

div.polaroid {
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px 25px 0px 0px;
    margin: 25px 0px;
    text-align: center;
    padding: 15px 0px 0px 0px;
}

div.target_page {
    text-align: center;
    color: #942EC3;
    padding: 10px 20px;
}

div.card_bottom {
    background-color: #EBA6F6;
    height: 8px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 147px;
    padding: 15px 0px 0px 0px;
    border-radius: 25px 25px 0px 0px;
    transition: .5s ease;

}

#network_map_card:hover .overlay {
    width: 200px;
    padding: 15px 0px 0px 0px;
    margin: 0px 0px 393px 0px;
    /* --- */
    height: 147px;
    border-radius: 25px 25px 0px 0px;
}

#gene_analysis_card:hover .overlay {
    width: 200px;
    padding: 15px 0px 0px 0px;
    margin: 0px 0px 213px 0px;
    /* --- */
    height: 147px;
    border-radius: 25px 25px 0px 0px;
}

#search_card:hover .overlay {
    width: 200px;
    padding: 15px 0px 0px 0px;
    margin: 0px 0px 33px 0px;
    /* --- */
    height: 147px;
    border-radius: 25px 25px 0px 0px;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.stat-box {
    width: 200px;
    height: 150px;
    background: #EBA6F6;
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    border: 2px solid #283D90;
    border-radius: 15px;
}

@keyframes example {
    from {
        top: 0px;
    }

    to {
        top: 0px;
        background-color: #f809cc;
    }
}

.opacity{
    opacity: 0.3;
}
.carousel-caption-margin{
    margin-bottom: 150px;
}


/* -------------------------------------- */
