<div class="card-panel-box-detail">
    <div class="customTable " id="eventListTable">
        <div class="overlay" *ngIf="loader">
            <img style="margin:185px 653px;" src="../../assets/images/loader_big.gif" />
        </div>

        <div class="card">
            <div class="card-header">
                Trial Investigator Grouped by Country
            </div>
            <div class="card-body">
                <h1>World map will comes here</h1>
            </div>
        </div>
    </div>
</div>