<div class="stats-landing">
    <app-header></app-header>

    <section class="dashboard-main-wrapper">
        
        <div class="left-sidebar" style="overflow: scroll;">
        <app-filter-node-select (onSelectNode)='nodeChanged($event)'></app-filter-node-select>
        <app-filter-source-node (onSelectSourceNode)='sourceNodeChanged($event)' [UpdateFilterDataApply]="doUpdateFilterDataApply"></app-filter-source-node>
        <app-filter-destination-node (onSelectDestinationNode)='destinationNodeChanged("diseasesIndicationsFilter")' [UpdateFilterDataApply]="doUpdateFilterDataApply"></app-filter-destination-node>
        <app-filter-edge-type (onSelectEdgeType)='edgeTypeChanged($event)'></app-filter-edge-type>

        <div style="border: 1px solid #FDFDEC;padding: 5px;"> <h4 style="color:#fff;">Level 2 <br/><span style="font-size: 12px; color:#fff;">Please choose destination Nodes</span></h4>
        <app-filter-node-select-level2 (onSelectNode2)='nodeChanged2($event)' [UpdateFilterDataApply]="doUpdateFilterDataApply"></app-filter-node-select-level2>
        <app-filter-edge-type-level2 (onSelectEdgeType2)='edgeTypeChanged2($event)' [UpdateFilterDataApply]="doUpdateFilterDataApply"></app-filter-edge-type-level2>
        </div>

        <!--<app-filter-data-range></app-filter-data-range>-->
        </div>

        <div class="right-article">
            <div class="network-map" style="text-align:left; !important">
                <app-network-map [ProceedDoFilterApply]="doFilterApply" (onGraphSelection)='graphSelected("clickOnEventDetails")'></app-network-map>

                <div class="container">
                    <div class="tab-slider--nav">
                      <ul class="tab-slider--tabs">
                        <li class="tab-slider--trigger" [class.active]="viewMode == 'event_list'" rel="event_list" (click)="viewMode ='event_list'">Event Lists</li>
                        <li class="tab-slider--trigger" [class.active]="viewMode == 'event_chart'" rel="event_chart" (click)="viewMode ='event_chart'">Event Chart</li>
                      </ul>
                    </div>
                    <div class="tab-slider--container" [ngSwitch]="viewMode">
                      
                        <div id="event_list" class="tab-slider--body" *ngSwitchCase="'event_list'">
                            <h2>&nbsp;</h2>
                            <!--<app-event-description [ProceedDoFilterApply]="doFilterApply"></app-event-description>-->
                        </div>
                        <div id="event_chart" class="tab-slider--body" *ngSwitchCase="'event_chart'">
                            <h2>Event Chart</h2>
                            <app-event-chart></app-event-chart>
                        </div>

                    </div>
                  </div>
                
                
            </div>

            <div style="clear:both;">&nbsp;</div>
            <div style="clear:both;">&nbsp;</div>
            <div style="clear:both;">&nbsp;</div>
            <app-footer></app-footer>
        </div>
    </section>

    
</div>