<div class="stats-landing">
    <app-header></app-header>

    <section class="dashboard-main-wrapper">
        
        <div class="left-sidebar" style="overflow: scroll;">
        <app-filter-node-select (onSelectNode)='nodeChanged($event)'></app-filter-node-select>
        <app-filter-source-node (onSelectSourceNode)='sourceNodeChanged($event)' [UpdateFilterDataApply]="doUpdateFilterDataApply"></app-filter-source-node>
        <app-filter-destination-node (onSelectDestinationNode)='destinationNodeChanged($event)' [UpdateFilterDataApply]="doUpdateFilterDataApply"></app-filter-destination-node>
        <app-filter-edge-type (onSelectEdgeType)='edgeTypeChanged($event)'></app-filter-edge-type>

        <app-filter-data-range></app-filter-data-range>
        </div>

        <div class="right-article">
            <div class="network-map">
                <h2>Network Map</h2>

                <img src="../assets/images/network.jpg" width="50%" alt="" class="img-fluid">
            </div>

            <app-footer></app-footer>
        </div>
    </section>

    
</div>