<app-header></app-header>

<div class="user-dashboard-wrapper">
    <div class="page-title">
        <h3>My Dashboard</h3>
    </div>
    <div class="filter-bar">
        <div class="query-selector">
            <select name="" id="" class="form-select">
                <option value="">Self Query</option>
                <option value="">Shared Query</option>
            </select>
        </div>
        <div class="items-deletion">
            <div class="form-check">
                <input type="checkbox" class="form-check-input mt-0" id="selectAll">
                <label class="form-check-label" for="selectAll">Select All to Delete</label>
            </div>

            <i class="bi bi-trash3 text-danger"></i>
        </div>
    </div>

    <div class="table-responsive query-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Saved Query</th>
                    <th class="text-center">Share</th>
                    <th class="text-center">Edit</th>
                    <th class="text-center">Receive Alert</th>
                    <th class="text-center">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Target 1 - disease 1 association</td>
                    <td class="text-center"><i class="bi bi-share"></i></td>
                    <td class="text-center"><i class="bi bi-pencil-square"></i></td>
                    <td class="text-center"><i class="bi bi-envelope-at"></i></td>
                    <td class="text-center"><i class="bi bi-trash3 text-danger"></i></td>
                </tr>
                <tr>
                    <td>Target - TA 1 association</td>
                    <td class="text-center"><i class="bi bi-share"></i></td>
                    <td class="text-center"><i class="bi bi-pencil-square"></i></td>
                    <td class="text-center"><i class="bi bi-envelope-at"></i></td>
                    <td class="text-center"><i class="bi bi-trash3 text-danger"></i></td>
                </tr>
                <tr>
                    <td>Target 1 - disease 1 association</td>
                    <td class="text-center"><i class="bi bi-share"></i></td>
                    <td class="text-center"><i class="bi bi-pencil-square"></i></td>
                    <td class="text-center"><i class="bi bi-envelope-at"></i></td>
                    <td class="text-center"><i class="bi bi-trash3 text-danger"></i></td>
                </tr>
                <tr>
                    <td>Target - TA 1 association</td>
                    <td class="text-center"><i class="bi bi-share"></i></td>
                    <td class="text-center"><i class="bi bi-pencil-square"></i></td>
                    <td class="text-center"><i class="bi bi-envelope-at"></i></td>
                    <td class="text-center"><i class="bi bi-trash3 text-danger"></i></td>
                </tr>
                <tr>
                    <td>Target 1 - disease 1 association</td>
                    <td class="text-center"><i class="bi bi-share"></i></td>
                    <td class="text-center"><i class="bi bi-pencil-square"></i></td>
                    <td class="text-center"><i class="bi bi-envelope-at"></i></td>
                    <td class="text-center"><i class="bi bi-trash3 text-danger"></i></td>
                </tr>
                <tr>
                    <td>Target - TA 1 association</td>
                    <td class="text-center"><i class="bi bi-share"></i></td>
                    <td class="text-center"><i class="bi bi-pencil-square"></i></td>
                    <td class="text-center"><i class="bi bi-envelope-at"></i></td>
                    <td class="text-center"><i class="bi bi-trash3 text-danger"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>