/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f1f1;
}

.login-wrapper {
    background-color: #F3F3F3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-image: url(./assets/images/login-background.jpg);

    .container{
        position: relative;
        height:100%;

        @media (max-width:575px){
            padding-top: 190px;
        }
    }

    .bxl-logo{
        position: absolute;
        right: 0;
        top:50px;

        img{
            @media (max-width:575px){
                width:170px;
            }
        }

        @media (max-width:991px){
            right: auto;
            left: calc(50% - 85px);
        }
    }

    .login-box {
        width: 440px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);

        .login-box-inner{
            border-radius: 25px;
            border:1px solid #f7f7f7;
            padding: 45px 40px;
            background-color: rgb(0 0 0 / 69%);

            .login-logo {
                text-align: center;
    
                img {
                    width: 180px;
                    margin: auto;
                    display: inline-block;
                    margin-bottom: 26px;
                    padding: 10px 30px;
                    background: #fff;
                    border-radius: 30px;
                    margin-top: -90px;
                }
            }
    
            p{
                color: #fff;
                margin-bottom: 45px;
                text-align: center;
                font-size: 23px;

                @media (max-width:480px){
                    font-size: 20px;
                    line-height: 23px;
                }
            }
    
            .form-box {
                .input-group{
                    position: relative;
    
                    span{
                        background: #fff;
                        padding: 12px 17px;
                        border-radius: 26px !important;
                        position: absolute;
                        top: 0;
                        left: -1px;
    
                        img{
                            width:27px;
                        }
                    }
                    input{
                        background: transparent;
                        border: 1px solid #f7f7f7;
                        height: 52px;
                        border-radius: 26px !important;
                        color: #fff;
                        padding-left: 80px;
        
                        &::placeholder{
                            color: #fff;
                        }
                    }
                }
    
                
    
                button {
                    background-color: #fff;
                    font-weight: 500;
                    padding: 7px 20px;
                    border: none;
                    color: #000;
                    margin: auto;
                    border-radius: 25px;
                    text-transform: uppercase;
                    font-size: 18px;
                }
            }

            @media (max-width:575px){
                padding:45px 15px;
            }
        }

        .create-account{
            padding-top:10px;
            text-align: right;
            span{
                color: #fff;
                font-weight: 600;
                cursor: pointer;
            }
        }

        @media (max-width:991px){
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @media (max-width:480px){
            width: 100%;
            position: relative;
            top: auto;
            left: auto;
            transform: initial;
        }
    }
}

.stats-wrapper {
    padding: 100px 0px;
    background-color: #f2f3f7;

    .stats-single {
        cursor: pointer;

        .stats-box {
            width: 200px;
            height: 200px;
            border-radius: 100px;
            font-size: 30px;
            font-weight: 700;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px auto 15px;
            color: #000;
            box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
        }

        h3 {
            font-size: 26px;
            color: #303e91;
        }
    }

    .enterApp {
        background-color: #b661a2;
        font-weight: 500;
        padding: 13px 20px;
        border: none;
        color: #fff;
        width: 300px;
        margin: 60px auto 0px;
    }

}


.video-player {
    padding: 70px 0px;
    background-color: #fff;
}

.dashboard-main-wrapper {
    display: flex;
    column-gap: 30px;
    margin-top: 64px;

    .left-sidebar {
        width: 300px;
        min-width: 300px;
        box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.09);
        padding: 20px 15px;
        height: calc(100vh - 64px);
        background-color: #15283c;
        position: fixed;
        left: 0;
        top: 125px;

        .sidebar-card {
            margin-bottom: 30px;
            padding: 10px;
            background: #fff;
            border-radius: 10px;

            h3 {
                color: #000;
                font-size: 18px;
                text-align: center;
            }

            .levels {
                display: flex;
                column-gap: 10px;
                justify-content: center;

                .level {
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    background: #303e91;
                    border-radius: 20px;
                    line-height: 40px;
                    font-size: 20px;
                    font-weight: 700;
                    color: #fff;
                    cursor: pointer;

                    &.active {
                        background-color: #b661a2;
                    }
                }
            }

            .heading {
                h4 {
                    font-size: 18px;
                    color: #000;
                }
            }
        }
    }

    .right-article {
        width: calc(100% - 330px);
        background: #fff;
        margin-top: 30px;
        border-radius: 20px;
        margin-left: 330px;
        min-height: 100vh;
        position: relative;

        .network-map {
            padding-top: 50px;
            text-align: center;

            h2 {
                text-align: center;
            }
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
        }
    }

    .article-full {
        width: calc(100%);
        background: #fff;
        margin-top: 30px;
        border-radius: 20px;
        min-height: 100vh;
        position: relative;

        .page-content {
            padding-top: 50px;
            text-align: center;
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
        }
    }
}

/*# sourceMappingURL=style.css.map */

.loading-custom {
    position: absolute;
    width: 100px;
    background: #fff;
    text-align: center;
    border: 0px solid #b3af22;
    font-size: 13px;
    color: #414D9E;
    top: 34px;
    padding: 4px;
    left: 50%;
    margin-left: -50px;
    z-index: 999;

    span {
        color: #000;
    }
}

.loading-custom-desc {
    position: absolute;
    width: 100px;
    background: #b6eaef;
    text-align: center;
    border: 0px solid #b3af22;
    font-size: 13px;
    color: #000;
    top: 102px;
    padding: 4px;
    left: 50%;
    margin-left: -50px;
    z-index: 999;

    span {
        color: #000;
    }
}