<app-header></app-header>

<div class="dashboard-main-wrapper">
    <div class="preview-filters">
        <div class="horizontal-filters-wrapper">
            <div class="horizonal-filter-bar">
                <div class="filter-inner" style="width: 98%;">
                    <div class="filter-left-heading" style="font-size:16px;">
                        First Degree
                    </div>
                    <div class="filter-single" style="width:15%;">
                        <div class="sidebar-card">
                            <div class="body">
                                <div class="search-input">
                                    <select name="" id="" class="form-control">
                                        <option value="">Lorem ispum</option>
                                        <option value="">Lorem ispum</option>
                                        <option value="">Lorem ispum</option>
                                        <option value="">Lorem ispum</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-single" style="width:30%;">
                        <div class="sidebar-card">
                            <div class="dropdown">
                                <div class="dropdown-toggle" id="edge-type-filter" data-bs-toggle="dropdown"
                                    aria-expanded="false" data-bs-auto-close="outside">
                                    Lorem ipsum
                                </div>
                                <ul class="dropdown-menu" aria-labelledby="edge-type-filter">
                                    <div class="body">
                                        a b c
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="filter-single" style="width:25%;">
                        <div class="sidebar-card">
                            <div class="dropdown">
                                <div class="dropdown-toggle" id="edge-type-filter" data-bs-toggle="dropdown"
                                    aria-expanded="false" data-bs-auto-close="outside">
                                    Lorem ipsum
                                </div>
                                <ul class="dropdown-menu" aria-labelledby="edge-type-filter">
                                    <div class="body">
                                        a b c
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="filter-single" style="width:30%;">
                        <div class="sidebar-card">
                            <div class="dropdown">
                                <div class="dropdown-toggle" id="edge-type-filter" data-bs-toggle="dropdown"
                                    aria-expanded="false" data-bs-auto-close="outside">
                                    Lorem ipsum
                                </div>
                                <ul class="dropdown-menu" aria-labelledby="edge-type-filter">
                                    <div class="body">
                                        a b c
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="horizonal-filter-bar">
                <div class="filter-inner" style="width: 98%;">
                    <div class="filter-left-heading" style="font-size:16px;">
                        Second Degree
                    </div>
                    <div class="filter-single" style="width:15%;">
                        <div class="sidebar-card">
                            <div class="body">
                                <div class="search-input">
                                    <select name="" id="" class="form-control">
                                        <option value="">Lorem ispum</option>
                                        <option value="">Lorem ispum</option>
                                        <option value="">Lorem ispum</option>
                                        <option value="">Lorem ispum</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-single" style="width:30%;">
                        <div class="sidebar-card">
                            <div class="dropdown">
                                <div class="dropdown-toggle" id="edge-type-filter" data-bs-toggle="dropdown"
                                    aria-expanded="false" data-bs-auto-close="outside">
                                    Lorem ipsum
                                </div>
                                <ul class="dropdown-menu" aria-labelledby="edge-type-filter">
                                    <div class="body">
                                        a b c
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="filter-single" style="width:25%;">
                        <div class="sidebar-card">
                            <div class="dropdown">
                                <div class="dropdown-toggle" id="edge-type-filter" data-bs-toggle="dropdown"
                                    aria-expanded="false" data-bs-auto-close="outside">
                                    Lorem ipsum
                                </div>
                                <ul class="dropdown-menu" aria-labelledby="edge-type-filter">
                                    <div class="body">
                                        a b c
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="filter-single" style="width:30%;">
                        <div class="sidebar-card">
                            <div class="dropdown">
                                <div class="dropdown-toggle" id="edge-type-filter" data-bs-toggle="dropdown"
                                    aria-expanded="false" data-bs-auto-close="outside">
                                    Lorem ipsum
                                </div>
                                <ul class="dropdown-menu" aria-labelledby="edge-type-filter">
                                    <div class="body">
                                        a b c
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="horizonal-filter-bar">
                <div class="filter-inner" style="width: 98%;">
                    <div class="filter-left-heading" style="font-size:16px;">
                        Third Degree
                    </div>
                    <div class="filter-single" style="width:15%;">
                        <div class="sidebar-card">
                            <div class="body">
                                <div class="search-input">
                                    <select name="" id="" class="form-control">
                                        <option value="">Lorem ispum</option>
                                        <option value="">Lorem ispum</option>
                                        <option value="">Lorem ispum</option>
                                        <option value="">Lorem ispum</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-single" style="width:30%;">
                        <div class="sidebar-card">
                            <div class="dropdown">
                                <div class="dropdown-toggle" id="edge-type-filter" data-bs-toggle="dropdown"
                                    aria-expanded="false" data-bs-auto-close="outside">
                                    Lorem ipsum
                                </div>
                                <ul class="dropdown-menu" aria-labelledby="edge-type-filter">
                                    <div class="body">
                                        a b c
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="filter-single" style="width:25%;">
                        <div class="sidebar-card">
                            <div class="dropdown">
                                <div class="dropdown-toggle" id="edge-type-filter" data-bs-toggle="dropdown"
                                    aria-expanded="false" data-bs-auto-close="outside">
                                    Lorem ipsum
                                </div>
                                <ul class="dropdown-menu" aria-labelledby="edge-type-filter">
                                    <div class="body">
                                        a b c
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="filter-single" style="width:30%;">
                        <div class="sidebar-card">
                            <div class="dropdown">
                                <div class="dropdown-toggle" id="edge-type-filter" data-bs-toggle="dropdown"
                                    aria-expanded="false" data-bs-auto-close="outside">
                                    Lorem ipsum
                                </div>
                                <ul class="dropdown-menu" aria-labelledby="edge-type-filter">
                                    <div class="body">
                                        a b c
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="inner-wrapper px-3">

        <div class="right-article full-width">
            <h4 class="mt-3">Details</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Lorem Ipusm</th>
                        <th>Lorem Ipusm</th>
                        <th>Lorem Ipusm</th>
                        <th>Lorem Ipusm</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lorme Ipsum</td>
                        <td>Lorme Ipsum</td>
                        <td>Lorme Ipsum</td>
                        <td>Lorme Ipsum</td>
                    </tr>
                    <tr>
                        <td>Lorme Ipsum</td>
                        <td>Lorme Ipsum</td>
                        <td>Lorme Ipsum</td>
                        <td>Lorme Ipsum</td>
                    </tr>
                    <tr>
                        <td>Lorme Ipsum</td>
                        <td>Lorme Ipsum</td>
                        <td>Lorme Ipsum</td>
                        <td>Lorme Ipsum</td>
                    </tr>
                    <tr>
                        <td>Lorme Ipsum</td>
                        <td>Lorme Ipsum</td>
                        <td>Lorme Ipsum</td>
                        <td>Lorme Ipsum</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>